@(companies: List[Company])(implicit flash: Flash, lang: Lang)

@import helper._
@customerMain("Welcome to Play") {

    <h1 class="page-header">
        @Messages("companies")
    </h1>
            @if(companies.size > 0) {
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>@Messages("name")</th>
                                <th>@Messages("description")</th>
                                <th>@Messages("phoneNumber")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(company <- companies){
                            <tr>
                                <td><a href="@routes.CustomerController.getCompany(company.id.get.toString)">@company.name</a></td>
                                <td>@company.description</td>
                                <td>@company.phoneNumber</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            } else {
                @Messages("company.noCompanies")
                <hr/>
            }
}
