@(title: String, orderFull: Option[OrderFull] = None, currentForm: Option[Form[AnyRef]] = None)(content: Html)(implicit flash: Flash)
@import play.api.i18n.Messages.Message

@main("Welcome to Play") {
    <div id="wrapper">
        @if(orderFull.isDefined){
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-shopping-cart" style="color: #9d9d9d"></span>
                    </button>
                    <a class="navbar-brand" href="#">Order a food</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <h3 class="indent-element" style="color: #9d9d9d">Cart</h3>
                        </li>
                        @for(article <- orderFull.get.orderedArticles){
                            <li>
                                <a href="#"> @article.articleInfo.name <span class="align-right">@article.articleInfo.price</span></a>
                            </li>
                        }
                        <li class="total-price">
                            <div class="align-right"><span><b>Total: @orderFull.get.totalPrice</b></span></div>
                        </li>
                    </ul>
                </div>
            </nav>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                @flash.get("success") match {
                    case Some(message) => {
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert">x</a>
                            @Html(message)
                        </div>
                    }
                    case _ => { }
                }
                @if(currentForm.isDefined){
                    @if(currentForm.get.hasErrors) {
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">x</a>
                            @if(currentForm.get.errors.size > 0) {
                                @for(error <- currentForm.get.errors) {
                                    @error.message
                                    <br>
                                }
                            } else {No error returned.}
                        </div>
                    }
                }
                @content
             </div>
        </div>
    </div>
}

