@(orderFull: OrderFull)(implicit flash: Flash, lang: Lang)

@import helper._
@customerMain("Welcome to Play", None, Some(orderFull.orderInfo.companyId.toString())) {
    @helper.form(action = routes.CustomerController.submitOrder()){
        <div class="row">
            <input name="orderId" value=@orderFull.orderInfo.id.get class="form-control" type="hidden">
            <input name="companyId" value=@orderFull.orderInfo.companyId class="form-control" type="hidden">

            <div class="col-lg-5">
                <h3>
                    @Messages("order.information")
                </h3>
                <div class="form-group">
                    <label>@Messages("name.your")</label>
                    <input name="customerName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>@Messages("phoneNumber")</label>
                    <input name="phoneNumber" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>@Messages("paymentMethod")</label>
                    <select name="paymentMethod" class="form-control">
                        <option class="form-group" value="@com.oaf.dal.enums.PaymentMethodEnum.Cash">@Messages("payment.cash")</option>
                        <option class="form-group" value="@com.oaf.dal.enums.PaymentMethodEnum.Card">@Messages("payment.card")</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>@Messages("delivery")</label>
                    <select name="delivery" class="delivery form-control">
                        <option class="form-group" value="@com.oaf.dal.enums.DeliveryEnum.No">@Messages("delivery.no")</option>
                        <option class="form-group" value="@com.oaf.dal.enums.DeliveryEnum.Company">@Messages("delivery.company")</option>
                        <option class="form-group" value="@com.oaf.dal.enums.DeliveryEnum.Taxi">@Messages("delivery.taxi")</option>
                    </select>
                </div>
                <div id="address" class="invisible form-group">
                    <label>@Messages("address.addressLine")</label>
                    <input name="addressLine" id="addressLine" class="form-control">
                    <div> &nbsp</div>
                </div>
            </div>
            <div class="col-lg-7">
                <h3>
                    @Messages("articles")
                </h3>
                @if(orderFull.orderedArticles.size > 0) {
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Messages("name")</th>
                                    <th>@Messages("additives")</th>
                                    <th>@Messages("price")</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(article <- orderFull.orderedArticles){
                                <tr>
                                    <td>@article.articleInfo.name</td>
                                    @if(article.additives.size > 0){
                                        <td>
                                            @for(additive <- article.additives){
                                                <span>
                                                    @additive.name
                                                </span>
                                            }
                                        </td>
                                    } else {
                                        <td>
                                            @Messages("additives.no")
                                        </td>
                                    }
                                    <td>
                                        @article.articleInfo.price
                                    </td>
                                    <td>
                                            <span data-id="@article.id.get" data-toggle="modal" data-target="#myModal" class="open-deleteArticleDialog align-right glyphicon glyphicon-remove"></span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                                <tr class="active total-row">
                                    <th></th>
                                    <th>@Messages("customer.total")</th>
                                    <th>@orderFull.totalPrice</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                } else {
                    @Messages("article.noArticles")
                    <hr/>
                }
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <a href="@routes.CustomerController.getCompany(orderFull.orderInfo.companyId.toString)" class="btn btn-primary" role="button">@Messages("customer.back.articles")</a>
                <input type="submit" class="btn btn-warning align-right" value="@Messages("order.submit")">
            </div>
        </div>
    }
}
