@(user: User, additives: Option[List[Additive]])(implicit flash: Flash, lang: Lang)

@import helper._
@admin.adminMain("Welcome to Play", user) {
    <h1 class="page-header">
        @Messages("additives")
    </h1>
    @additives match {
        case None => {
            @Messages("company.create.first")
        }
        case Some(additives) => {
            @if(additives.size > 0) {
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>@Messages("name")</th>
                                <th>@Messages("article.group")</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(additive <- additives){
                                <tr>
                                    <td>@additive.name</td>
                                    <td>@additive.articleGroup.toString</td>
                                    <td><a href="@routes.AdditiveController.showEditPage(additive.id.get.toString)">@Messages("button.edit")</a></td>
                                    <td>
                                    @helper.form(action = routes.AdditiveController.delete(additive.id.get.toString)){
                                        <input type="submit" class="btn btn-danger" value="@Messages("delete")">
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                    </table>
                    <div>
                        <a href="@routes.AdditiveController.showCreatePage()" class="btn btn-default">@Messages("additive.add") </a>
                    </div>
                </div>
            } else {
                @Messages("additive.noAdditives")
                <hr/>
                <a href="@routes.AdditiveController.showCreatePage()" class="btn btn-default">@Messages("additive.add") </a>
            }
        }
    }
}
