@(user: User, article: Article, articleForm: Option[Form[AnyRef]] = None)(implicit flash: Flash, lang: Lang)

@import helper._
@admin.adminMain("Welcome to Play", user, articleForm) {
    <h1 class="page-header">
        @Messages("article.edit")
    </h1>
    @helper.form(action = routes.ArticleController.update(), 'enctype -> "multipart/form-data"){
    <div class="col-lg-7">
        <h3 class="page-header">
            @Messages("basic.info")
        </h3>
            <input name="articleId" value=@article.id.get class="form-control" type="hidden">
            <input name="companyId" value=@user.companyId.get class="form-control" type="hidden">
            <div class="form-group">
                <label>@Messages("name")</label>
                <input name="name" class="form-control" value="@article.name" readonly>
            </div>
            <div class="form-group">
                <label>@Messages("description")</label>
                <textarea name="description" class="form-control" rows="3">@article.description</textarea>
            </div>
            <div class="form-group">
                <label>@Messages("price")</label>
                <input name="price" type="number" step="any" min="0" value="@article.price" class="form-control" required>
            </div>
            <div class="form-group">
                <label>@Messages("weight")</label>
                <input type="number" name="weight" step="any" min="0" value="@article.weight" class="form-control">
            </div>
            <div class="form-group">
                <label>@Messages("article.group")</label>
                <select name="group" class="form-control" required>
                    <option class="form-group" value=""></option>
                    @if(article.group == com.oaf.dal.enums.ArticleGroup.Meal){
                        <option class="form-group" selected value="@com.oaf.dal.enums.ArticleGroup.Meal">@Messages("article.group.meal")</option>
                    } else {
                        <option class="form-group" value="@com.oaf.dal.enums.ArticleGroup.Meal">@Messages("article.group.meal")</option>
                    }
                    @if(article.group == com.oaf.dal.enums.ArticleGroup.Dessert){
                        <option class="form-group" selected value="@com.oaf.dal.enums.ArticleGroup.Dessert">@Messages("article.group.dessert")</option>
                     } else {
                        <option class="form-group" value="@com.oaf.dal.enums.ArticleGroup.Dessert">@Messages("article.group.dessert")</option>
                    }
                    @if(article.group == com.oaf.dal.enums.ArticleGroup.Drink){
                         <option class="form-group" selected value="@com.oaf.dal.enums.ArticleGroup.Drink">@Messages("article.group.dessert")</option>
                     } else {
                        <option class="form-group" value="@com.oaf.dal.enums.ArticleGroup.Drink">@Messages("article.group.drink")</option>
                    }
                </select>
            </div>

        <input type="submit" class="btn btn-default" value="@Messages("button.save")">
    </div>
        <div class="form-group col-lg-3 col-md-4 col-xs-6">
            <label>@Messages("picture")</label>
            <img class="img-responsive" src=@routes.Assets.versioned(article.pictureLocation + "") alt="">
            <label>@Messages("picture.change")</label>
            <input type="file" name="picture" accept="image/*">
        </div>
    }
}
