@(user: User, employeeForm: Form[AnyRef])(implicit flash: Flash)

@import helper._
@admin.adminMain("Welcome to Play", user, Some(employeeForm)) {
    <h1 class="page-header">
        Create Employee
    </h1>

    <div class="col-lg-7">
        <h3 class="page-header">
            Basic info
        </h3>
        @helper.form(action = routes.EmployeeController.create()){
            <input name="companyId" value=@user.companyId.get class="form-control" type="hidden">
            <div class="form-group">
                <label>Username</label>
                <input name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label>First name</label>
                <input name="firstName" class="form-control">
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input name="lastName" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control"  name="email" type="email" required>
            </div>
            <input type="submit" class="btn btn-default" value="Save">
            }
    </div>

}
