@(user: User, employee: User)

@import helper._
@admin.adminMain("Welcome to Play", user) {
    <h1 class="page-header">
        Edit Employee
    </h1>

    <div class="col-lg-7">
        <h3 class="page-header">
            Basic info
        </h3>
        @helper.form(action = routes.EmployeeController.update()){
            <input name="employeeId" value=@employee.id.get class="form-control" type="hidden">
            <input name="companyId" value=@user.companyId.get class="form-control" type="hidden">
            <div class="form-group">
                <label>Username</label>
                <input name="username" value=@employee.username class="form-control" readonly>
            </div>
            <div class="form-group">
                <label>First name</label>
                <input name="firstName" value=@employee.firstName class="form-control" required>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input name="lastName" value=@employee.lastName class="form-control" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control"  name="email" type="email" required value=@employee.email>
            </div>
            <input type="submit" class="btn btn-default" value="Update">
        }
    </div>
}
