@(user: User, employees: Option[List[User]])(implicit flash: Flash, lang: Lang)

@import helper._
@admin.adminMain("Welcome to Play", user) {
    <h1 class="page-header">
        @Messages("employees")
    </h1>
    @employees match {
        case None => {
            @Messages("company.create.first")
        }
        case Some(employees) => {
            @if(employees.size > 0) {
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>@Messages("username")</th>
                                <th>@Messages("email")</th>
                                <th>@Messages("status")</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(employee <- employees){
                                <tr>
                                    <td>@employee.username</td>
                                    <td>@employee.email</td>
                                    <td>@employee.status</td>
                                    <td><a href=@routes.EmployeeController.showEditPage(employee.id.get.toString) >@Messages("button.edit")</a></td>
                                    <td>
                                        @helper.form(action = routes.EmployeeController.delete(employee.id.get.toString)){
                                            <input type="submit" class="btn btn-danger" value="@Messages("delete")">
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                    </table>
                    <div>
                        <a href="@routes.EmployeeController.showCreatePage()" class="btn btn-default">@Messages("employee.add") </a>
                    </div>
                </div>
            } else {
                @Messages("employee.noRegistred")
                <hr/>
                <div>
                    <a href="@routes.EmployeeController.showCreatePage()" class="btn btn-default">@Messages("employee.add") </a>
                </div>

            }
        }
    }
}
