@(orders: List[OrderFull], user: User, company: Company)(implicit flash: Flash, lang: Lang)

@import helper._
@employeeMain(user, "Welcome to Play") {
    <h1 class="page-header">
        @Messages("orders.new")
    </h1>
    <div class="row">
        @if(orders.size > 0) {
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>@Messages("name")</th>
                            <th>@Messages("phoneNumber")</th>
                            <th>@Messages("article.number")</th>
                            <th>@Messages("price")</th>
                            <th>@Messages("time")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(order <- orders){
                        <tr>
                            <td>
                                @order.orderInfo.customerName
                            </td>
                            <td>
                                @order.orderInfo.customerPhoneNumber
                            </td>
                            <td>
                                @order.orderedArticles.size
                            </td>
                            <td>
                                @order.totalPrice
                            </td>
                            <td>
                                @order.orderInfo.timeCreated
                            </td>
                            <td>
                                <a href="@routes.EmployeeController.getOrderById(order.orderInfo.id.get.toString())"><button class="btn btn-danger">@Messages("order.accept")</button></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        } else {
            No Orders
            <hr/>
        }
    </div>
}
