@(orderFull: OrderFull, user: User)(implicit flash: Flash, lang: Lang)

@import helper._
@employeeMain(user, "Welcome to Play") {
    @helper.form(action = routes.EmployeeController.acceptOrder()){
        <div class="row">
            <input name="orderId" value=@orderFull.orderInfo.id.get class="form-control" type="hidden">
            <input name="companyId" value=@orderFull.orderInfo.companyId class="form-control" type="hidden">

            <div class="col-lg-5">
                <h3>
                    @Messages("order.information")
                </h3>
                <div class="form-group">
                    <label>@Messages("name.your")</label>
                    <input name="customerName" class="form-control" value="@orderFull.orderInfo.customerName" readonly>
                </div>
                <div class="form-group">
                    <label>@Messages("phoneNumber")</label>
                    <input name="phoneNumber" class="form-control" value="@orderFull.orderInfo.customerPhoneNumber" readonly>
                </div>
                <div class="form-group">
                    <label>@Messages("paymentMethod")</label>
                    <input class="form-control" value="@orderFull.orderInfo.paymentMethod" readonly>
                </div>
                <div class="form-group">
                    <label>@Messages("delivery")</label>
                    <input class="form-control" value="@orderFull.orderInfo.delivery" readonly>
                </div>
                <div class="form-group">
                    <label>@Messages("address.addressLine")</label>
                    <input class="form-control" value="@orderFull.orderInfo.addressLine.getOrElse("")" readonly>
                </div>
            </div>
            <div class="col-lg-7">
                <h3>
                    @Messages("articles")
                </h3>
                @if(orderFull.orderedArticles.size > 0) {
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Messages("name")</th>
                                    <th>@Messages("additives")</th>
                                    <th>@Messages("price")</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(article <- orderFull.orderedArticles){
                                <tr>
                                    <td>@article.articleInfo.name</td>
                                    @if(article.additives.size > 0){
                                        <td>
                                            @for(additive <- article.additives){
                                                <span>
                                                    @additive.name
                                                </span>
                                            }
                                        </td>
                                    } else {
                                        <td>
                                            @Messages("additive.noAdditives")
                                        </td>
                                    }
                                    <td>
                                        @article.articleInfo.price
                                    </td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                                <tr class="active total-row">
                                    <th></th>
                                    <th>@Messages("customer.total")</th>
                                    <th>@orderFull.totalPrice</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                } else {
                    @Messages("article.noArticles")
                    <hr/>
                }
                @if(orderFull.orderInfo.status == com.oaf.dal.enums.OrderStatus.New){
                    <div>
                        <label>@Messages("time.ready")</label>
                        <input name="timeToBeReady" required>
                        <label>@Messages("time.minutes")</label>
                    </div>
                }
            </div>
        </div>
        @if(orderFull.orderInfo.status == com.oaf.dal.enums.OrderStatus.New){
            <div class="col-lg-5">
                <div class="form-group">
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-danger">
                        @Messages("button.reject")
                    </button>
                    <input type="submit" class="btn btn-warning align-right" value="@Messages("button.accept")">
                </div>
            </div>
        }
    }
        <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        @helper.form(action = routes.EmployeeController.rejectOrder(orderFull.orderInfo.id.get.toString)){
                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Messages("button.reject")</h4>
                </div>
                <div class="modal-body">
                    <p>@Messages("reject.message")</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="@Messages("button.ok")"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >@Messages("button.cancel")</button>
                </div>
            </div>
        }
        </div>
    </div>
}
