.clickable-row {
}
.indent-element {
    padding-left: 20px;
}
.align-right {
    float: right;
}
.align-center {
    align-items: center;
}
.hr-line {
    width:100%;
    margin-bottom: 5px;
}
.total-price {
    width: 100%;
    padding: 15px 15px 15px 15px;
    color: #9d9d9d;
    line-height: 25px;
    border-top:#9d9d9d dashed 1px;
}
.address-div {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.total-row {
    border-top:#9d9d9d solid 2px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
